block variables
doctype html
html(lang=pageLang)
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
    include /_layouts/_meta

  body
    include /_layouts/_header

    block content

    include /_layouts/_footer
    include /_layouts/_script

